<div class="better-time-picker">
  <div class="time-header">
    <span
      class="selected-hour"
      ng-class="{highlighted: betterTimePicker.PageState.hourPickerEnabled}"
      ng-click="betterTimePicker.selectHourPicker()"
      ng-bind="betterTimePicker.UserSelection.selectedDate | date:'hh'">
    </span> :
    <span
      ng-class="{highlighted: betterTimePicker.PageState.minutePickerEnabled}"
      ng-click="betterTimePicker.selectMinutePicker()"
      class="selected-minute"
      ng-bind="betterTimePicker.UserSelection.selectedDate | date:'mm'">
    </span>
    <span
      ng-class="{highlighted: betterTimePicker.PageState.secondPickerEnabled}"
      ng-click="betterTimePicker.selectSecondPicker()"
      class="selectable-second"
      ng-bind="betterTimePicker.UserSelection.selectedDate | date:'ss'">
    </span>
    <span
      ng-click="betterTimePicker.toggleAmPm()"
      class="selected-am-pm-toggle"
      ng-bind="betterTimePicker.UserSelection.selectedDate | date:'a'">
    </span>
  </div>
  <div class="time-unit-circle">
    <div
      ng-click="betterTimePicker.setSelectedTime(hour.value)"
      ng-repeat="timeUnit in betterTimePicker.PageState.times"
      ng-class="{'hour': hourPickerEnabled, 'minute': minutePickerEnabled, 'second': secondPickerEnabled}"
      class="hour"
      style="left:{{timeUnit.x}}px; top:{{timeUnit.y}}px;">{{timeUnit.value}}
    </div>
  </div>
</div>
