<!DOCTYPE html>
<html lang="en-CA" dir="ltr" ng-app="exampleApp">
<head>
  <meta charset="utf-8" />
  <title>Better Angular Time Picker</title>
  <meta name="description" content="Angular Time Picker" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="better-time-picker.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body style="padding-left:40%">
  <header>
    <h1>Better Time Picker</h1>
  </header>
  <div ng-controller="exampleTimePicker">
    <better-time-picker></better-time-picker>
  </div>
  <script src="angular.js"></script>
  <script src="betterTimePicker.js"></script>
  <script>
    (function() {
      var module = this;

      module.controller('exampleTimePicker', function() {

      });
    }).call(angular.module('exampleApp', ['betterTimePicker']));
  </script>
  <script type="text/ng-template" id="better-time-picker.html">


    <div class="better-time-picker" id="better-time-picker">
      <div class="time-header">
        <span
          class="selected-hour"
          ng-class="{highlighted: betterTimePicker.PageState.hourPickerEnabled}"
          ng-click="betterTimePicker.setHourPicker()"
          ng-bind="betterTimePicker.UserSelection.selectedDate | date:'hh'">
        </span> :
        <span
          ng-class="{highlighted: !betterTimePicker.PageState.hourPickerEnabled}"
          ng-click="betterTimePicker.setMinutePicker()"
          class="selected-minute"
          ng-bind="betterTimePicker.UserSelection.selectedDate | date:'mm'">
        </span>
        <span
          ng-click="betterTimePicker.toggleAmPm()"
          class="selected-am-pm-toggle"
          ng-bind="betterTimePicker.UserSelection.selectedDate | date:'a'">
        </span>
      </div>
      <div class="hours-circle">
        <div
          ng-click="betterTimePicker.setSelectedTime(hour.value)"
          ng-repeat="hour in betterTimePicker.PageState.times"
          class="hour"
          style="left:{{hour.x}}px; top:{{hour.y}}px;">{{hour.value}}
        </div>
      </div>
    </div>



  </script>
</body>
</html>
